<div class="row">
          <div class="col-sm-4 col-sm-offset-4">
                <div id="forgot-login-form">
                  <%= form_for :reset_password do |form| %>
                   <div class="form-group">
                    <p  id="error" class="text text-danger">
                      <% unless @user.nil? %>
                        <% if @user.user_email_id.blank? %>
                         <p> No mail id is associated with specified user. Please contact admin</p>
                          <% else %>
                        <p>Link has been sent to your mail id</p>
                        <% end %>
                     <% end %>
                   </p>
                 </div>
                <div class="form-group">
                    <%= form.text_field :username, :class=>"form-control input-sm", :placeholder=>"username" %>
                  </div>
                 <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-1">
                       <%= submit_tag "Send Forgot Password Request", :class => "btn btn-sm btn-info" %>
                      </div>
                    </div>
                  </div>
                <% end %>
                </div>
            </div>
          </div>    