<div class="page-header">
  <%= link_to merit_templates_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>

   <h3 class="text-info"><u><b>New Merit Template and It's Subjects</b></u></h3>
</div>

<%= render 'form' %>
